# To Write a Python Program to create a company table that consists of name, age,address and salary attributes using sqlite3 and to insert five records into the table and to perform select, display, update and delete operations.

In [26]:
import sqlite3
conn = sqlite3.connect('amil.db')
#conn.execute("CREATE TABLE company(ID INT PRIMARY KEY NOT NULL,NAME TEXT NOT NULL,ADDRESS TEXT NOT NULL,AGE INT NOT NULL,SALARY INT NOT NULL)")
print("Table created succesfully")
print ("Opened database succesfully")
conn.execute("INSERT OR IGNORE INTO company(ID,NAME,AGE,ADDRESS ,SALARY) VALUES (1,'Oviya',19,'Chennai',10000)")
conn.commit()
conn.execute("INSERT OR IGNORE INTO company(ID,NAME,AGE,ADDRESS ,SALARY) VALUES (2,'Pavi',22,'dindugal',20000)")
conn.commit()
conn.execute("INSERT OR IGNORE INTO company(ID,NAME,AGE,ADDRESS ,SALARY) VALUES (3,'Deepa',25,'thirunelveli',23000)")
conn.commit()

cursor = conn.execute("SELECT * FROM company")
for r in cursor:
    print("ID= ",r[0])
    print('NAME= ',r[1])
    print("AGE= ",r[2])
    print("ADDRESS = ",r[3])
    print("SALARY= ",r[4])
print("Operation done successfully");
conn.execute("DELETE from company where ID = 2;")
conn.commit()
cursor = conn.execute("SELECT * FROM company")
for r in cursor:
    print("ID= ",r[0])
    print('NAME= ',r[1])
    print("AGE= ",r[2])
    print("ADDRESS = ",r[3])
    print("SALARY= ",r[4])
print("Operation done successfully");
conn.close()

Table created succesfully
Opened database succesfully
ID=  1
NAME=  Oviya
AGE=  19
ADDRESS =  Chennai
SALARY=  10000
ID=  2
NAME=  Pavi
AGE=  22
ADDRESS =  dindugal
SALARY=  20000
ID=  3
NAME=  Deepa
AGE=  25
ADDRESS =  thirunelveli
SALARY=  23000
Operation done successfully
ID=  1
NAME=  Oviya
AGE=  19
ADDRESS =  Chennai
SALARY=  10000
ID=  3
NAME=  Deepa
AGE=  25
ADDRESS =  thirunelveli
SALARY=  23000
Operation done successfully