# Compound Intrest

In [1]:
rate=float(input("Enter the rate"))
principle=float(input("Enter the principle"))
time=float(input("Enter time"))
Amount=principle*((1+rate/100)**time)
CI=Amount-principle
print("Compound intrest is "+str(CI) )

Enter the rate9
Enter the principle9800
Enter time4
Compound intrest is 4033.499778000005

# Cube till a integer

In [2]:
i=1
num = int(input("enter the number:"))
while i <= num:
    cbe = i*i*i
    print("the cube of digit " +  str(i) + " is"  + str(cbe))
    i=i+1

enter the number:6
the cube of digit 1 is1
the cube of digit 2 is8
the cube of digit 3 is27
the cube of digit 4 is64
the cube of digit 5 is125
the cube of digit 6 is216

# Kilometer to miles

In [3]:
km=float(input("Enter valur in Kilometers: "))
const=0.621371
miles=km*const
print("The value of given kilometer in miles is: " + str(miles))

Enter valur in Kilometers: 456
The value of given kilometer in miles is: 283.345176

# Matrix multiplication using nested loop

In [5]:
A = [[37, 27, 46], 
    [41, 13, 35], 
    [29,2, 15]] 
    
B = [[10, 20, 31], 
    [12, 52, 58], 
    [36, 57, 25]] 
      
result = [[0, 0, 0], 
        [0, 0, 0], 
        [0, 0, 0]] 
  
for i in range(len(A)): 
  
    for j in range(len(B[0])): 
  
        for k in range(len(B)): 
            result[i][j] += A[i][k] * B[k][j] 
  
for r in result: 
    print(r)

[2350, 4766, 3863]
[1826, 3491, 2900]
[854, 1539, 1390]

# Payroll clalulator

In [6]:
name = '1'

while name!='0':
    overtime = 0
    regular_pay =0
    gross_pay = 0
    overtime_pay = 0
    hours_worked = 0
    name = input("enter your name or enter 0 to quit:")	
    if name == '0':
        continue
    else:
        hours_worked = int(input("enter hours worked:"))
        pay_rate = int(input("enter pay rate:"))
        overtime = hours_worked - 40
        if overtime>0:
            overtime_pay = overtime*(pay_rate+5)
            regular_pay = (hours_worked-overtime)*pay_rate
            gross_pay = overtime_pay+regular_pay
            print("employee name: "+name)
            print("regular pay: "+str(regular_pay))
            print("overtime pay: "+str(overtime_pay)) 
            print("gross pay: "+str(gross_pay))

        else:
            regular_pay = (hours_worked)*pay_rate
            gross_pay = regular_pay	
            overtime_pay = 0

            print("employee name: "+name)
            print("regular pay: "+str(regular_pay))
            print("overtime pay: "+str(overtime_pay)) 
            print("gross pay: "+str(gross_pay))

enter your name or enter 0 to quit:Ranjith
enter hours worked:60
enter pay rate:40
employee name:Ranjith
regular pay: 1600
overtime pay: 900
gross pay: 2500
enter your name or enter 0 to quit:0

# Star Series

In [19]:
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")
for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

# Reversing a number

In [11]:
num = int(input("Enter the number:"))
rev = 0
rem = 0
while num > 0:
    rem = num % 10  
    rev = (rev*10) + rem
    num = num//10 
print("The reversed number is: " +str(rev))

Enter the number:476
The reversed number is: 674

# Sum of series

In [14]:
number=int(input("Enter no.of terms:"))
start=2
sum=0
for i in range(0,number):
	print(start,end="+")
	sum += start
	start=(start * 10) + 2
print("\nSum of the above series: "+ str(sum))

Enter no.of terms:7
2+22+222+2222+22222+222222+2222222+
Sum of the above series: 2469134